body{
    margin: 0 30%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#root{
    background-color: #202124;
    padding: .5em;
}
.converter-wrapper{
    color: #E7EAED;
    margin-bottom: 0.5em;
}
h1{
    margin: 0;
    margin-bottom: 0.5em;
}

.equals{
    font-size: 2rem;
    font-weight: bold;
}